-import index._

-@ val index:DirectoryIndex

h1= "Home Node:"
h2="~/" + index.path

-for(i <- index.subDirectories)
    p
        a(href={i.path})
            =i.handler.getName
        form(method="POST")
            input(hidden=true name="file" value={i.handler.getName})
            input(type="submit" value="push" )

-for(i <- index.subFiles)
    p
        a
            =i.handler.getName
        form(method="POST")
            input(hidden=true name="file" value={i.handler.getName})
            input(type="submit" value="push" )