-import index._

-@ val nodeNames: Seq[String]
-@ val servletName: String
-@ val nodeName: String
-@ val index:DirectoryIndex

h1= nodeName
h2= "/" + index.path


form(method="POST" id="pushform")
    p
        ="Recipient node: "
        select(name="recipient" id="select")
            -for(node <- nodeNames.filter(_!=nodeName))
                option(value = {node})=node
            //option(value = "1")="kierwa"
            //option(value = "2")="korwo"

    -for(i <- index.subDirectories)
        p
            a(href={"/" + servletName+"/" + nodeName+ "/" +i.path})
                =i.handler.getName
            input(hidden="true" name="file" value={i.handler.getName})
            input(type="submit" name="button" value="push" disabled={nodeNames.isEmpty.toString})


    -for(i <- index.subFiles)
        p
            a
                =i.handler.getName
            input(hidden="true" name="file" value={i.handler.getName})
            input(type="submit" name="button" value="push" disabled={nodeNames.isEmpty.toString})
