//- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
//- attributes("headline") = "head"
//- attributes()
-import scala.util.parsing.json.JSONObject
-@ val thisNode: String
-@ val thatNode: String
-@ val thisContents: JSONObject
-@ val thatContents: JSONObject
this
    h1= thisNode
    p= thisContents
that
    h1= thatNode
    p= thatContents
